#info-section {
    padding-top: 15px;
  }
  
  
  .current-city-data {
    min-height: 300px;
  }
  
  
  tr {
    margin: 5px;
  }
  
  .card {
    background-color: pink;
    margin: 6px;
    min-height: 100px;
  }

  
  .title {
    color: pink;
    text-align: center;
  }



  
  #submit {
    width: 100%;
    margin-bottom: 20px;
  }




