* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

body
{
    background: #6ea7ca;
}

.container {  
    width: 400px;
    margin: 60px auto;
    padding: 10px;
}





